<%- include('templates/header', {tituloWeb: 'Web no encontrada'}) %>
<body>
    <div class="error-404 flex centrar">
        <h1 class="titulo">404</h1>
        <p class="negrita">No pudimos encontrar la página que estabas buscando.</p>
        <a class="btn" href="/">Volver al inicio</a>
    </div>
</body>
</html>
